.container {
    margin: 0;
    padding: 0 8px;
}

.homePage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cLeft {
    flex: 0.8;
}

.cMiddle {
    flex: 3;
    margin-bottom: 20px;
}

.cRight {
    flex: 0.8;
}
