* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: #18191a;
    position: relative;
}

.mt16 {
    margin-top: 16px;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 8px;
    margin-right: 8px;
}
.grid__col {
    padding-left: 8px;
    padding-right: 8px;
}

.grid__col-4-12 {
    width: 33.33333%;
}
.grid__col-6-12 {
    width: 50%;
}
.grid__col-12-12 {
    width: 100%;
}
