* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: #18191a;
    position: relative;
}

.mt16 {
    margin-top: 16px;
}

.saturate {
    filter: saturate(3);
}
.grayscale {
    filter: grayscale(100%);
}
.contrast {
    filter: contrast(160%);
}
.brightness {
    filter: brightness(0.25);
}
.blur {
    filter: blur(3px);
}
.invert {
    filter: invert(100%);
}
.sepia {
    filter: sepia(100%);
}
.huerotate {
    filter: hue-rotate(180deg);
}
.rss.opacity {
    filter: opacity(50%);
}
